@CHARSET "UTF-8";

*{
	margin: 0;
	padding: 0;
}

div{
	
	display:block;
}

.snb{
	width:200px ;
	height: 800px;
	display:inline-block;
	
	
}
.total-board{
	display:block;
	width:600px ;
	height: 800px;
}

.snb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.snb li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.snb li a.active {
    background-color: #4CAF50;
    color: white;
}

.snb li a:hover:not(.active) {
    background-color: #555;
    color: white;
}