@CHARSET "UTF-8";

#container {
    width: 1012px !important;
    height: -webkit-fill-available;
    margin: 0 auto;
    min-height: 100px;
    background-color: #dcdcdc;
}

#left_bar{
	width: 25%; 
	height: auto; 
	display: inline-block; 
	float: left; 
	text-align: center; 
	background-color: #dcdcdc;
	margin-right: 15px;
}
#left_bar2{
	width: 90%; 
	margin: 25px auto;
}
#profile{
	float: left; 
	margin: 0 30px 30px 0;
}
#profile span {
	font-size: 20px;
	font-weight: bold;
	color: #4b4f56;
}
#profile_img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 0 35px 0 25px;
}
#myJoinList{
	clear: both;
    height: 320px;
    background-color: white;
    margin-bottom: 30px;
}
#img_alt{
	font-size: 16px;
    line-height: 20px;
}
#img_count{
	color: #90949c;
	font-size: 14px;
    line-height: 18px;
}
#myJoinList h2{
	font-size: 20px;
    color: #333333;
    margin-bottom: 30px;
        padding-top: 10px;
}
#recommedList{
	clear: both; 
	border: 1px solid #f0f0f0; 
	height: 300px; 
	margin-top: 10px;
}
#recommedList h2{
    font-size: 20px;
    color: #333333;
    margin-bottom: 15px;
}

#pageList{
	display: inline-block;
    float: left;
    padding-left: 25px;
    width: 200px;
}
}
<!--main body-->

#infoBody{
	clear: both; 
	height: 200px;
	background-color: white;
	margin: 0 auto; 
	margin-top: 30px;
    padding-top: 30px;
}
#joinBody{
	margin-left: 100px;
       height: 498px;
    background-color: white;
        margin-right: 10px;
}
#recommendBody{
	background-color: white;
    margin-top: 30px;
    height: 320px;
    margin-right: 10px;
}
#rePageImg{
	margin-right: 12px;
    margin-left: 13px;
	width: 150px;
    height: 150px;
    border-radius: 150px;
}
#roundList{
	display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-top:30px;
}
#roundName{
	width: 150px;
    height: 20px;
    bottom: 0;
        color: black;
    left: 0;
    padding: 5px;
    right: 0;
    margin-left: 8px;
    margin-top: 10px;
}
#moreInsertBtn{
	border: 2px solid #7b7b7b;
    color: #7b7b7b;
    line-height: 23px;
    font-family: 'NanumBarunGothicBold';
    text-align: center;
    border-radius: 150px;
    margin-left: 600px;
        margin-top: 200px;
}
#moreBtn{
	border: 2px solid #7b7b7b;
    color: #7b7b7b;
    line-height: 23px;
    font-family: 'NanumBarunGothicBold';
    text-align: center;
    border-radius: 150px;
    margin-left: 600px;
       margin-top: 50px;
}
#empty{
	background-color: #dcdcdc;
       height: 178px
}