@CHARSET "UTF-8";


#container {
    width: 1012px !important;
    height: -webkit-fill-available;
    margin: 0 auto;
    min-height: 100px;
    background-color: #dcdcdc;
}

#left_profile_bar {
    width: 180px !important;
    height: auto;
	padding: 12px 0;
	position: absolute;
	background-color: #e9ebee;
}

#profile_img {
	margin: 10px auto;
    box-sizing: border-box;
    -webkit-border-radius: 100px;
    display: block;
    position: relative;
}

#profile_img img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

#profile_info {
	width: 100%;
	float: left;
    margin-bottom: 16px;
    padding-top: 12px;
}

#profile_info h1 {
	font-size: 20px;
	text-align: center;
	display: inline-block;
}

#profile_info h1 span {
	font-size: small;
}

.count {
	border-radius: 100px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #ff0000eb;
    display: inline-block;
    line-height: 20px;
}

.mailBox_btn {
	width: 85px;
	height:25px;
	margin: 0 0 5px 15px;
    background-color: #365899;
    border-color: #365899;
    border-radius: 10px;
    color: #fff;
}

#mailBox_btn span {
	font-size: inherit;
}

#join_page_list {
	clear: both;
	float: left;
	margin-left: 5px;
	padding-bottom: 20px;
	border-bottom: 2px solid #717171eb;
}

#join_page_list span {
	display: inline-block;
	width: 120px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#join_page_list img {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin-bottom: 15px;
}

#recommend_page_list {
	clear: both;
	float: left;
	margin-left: 5px;
}

#recommend_page_list span {
	display: inline-block;
	width: 120px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#recommend_page_list img {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin-bottom: 15px;
}

#page_contents_wrap {
	width: 820px !important;
    margin-left: 12px !important;
    float: right;
    min-height: 1px;
    position: relative;
    background-color: orange;
}

#page_logo_img {
    width: 820px;
    height: 312px;
    overflow: hidden;
    display: block;
    position: relative;
    background-size: 351px 195px;
    background-color: #ff8080;
}

#page_logo_img img {
	width: 100%;
	height: 100%;
}

#page_name {
	height: 25px;
	border: 1px solid #dddfe2;
    padding: 12px;
    background-color: #fff;
}

#page_name h1 {
	font-size: 23px;
	font-weight: bold;
	line-height: 25px;
}

#page_btns {
	float: left;
    max-width: 476px;
}

.page_btns {
	height: 25px;
	padding: 0 5px;
	background-color: #f6f7f9;
    border: 1px solid #ced0d4;
    color: #4b4f56;
    line-height: 25px;
}

.page_btns img {
	width: 20px;
	height: 20px;
	padding-right: 5px;
	padding-bottom: 4px;
}

#member_bar {
	width: 15%;
	height: 30px;
	right: 5px;
	bottom: 20px;
	position: fixed;
	background-color: #f6f7f9;
}

#member_bar a {
    background-color: #f6f7f9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: small;
    font-weight: bold;
    color: #666;
    line-height: 30px;
    box-shadow: none;
    padding-left: 12px;
    padding-right: 12px;
}

#member_profile_div {
	width: 15%;
	height: 500px;
	right: 5px;
	bottom: 20px;
	margin-bottom: 30px;
	position: fixed;
	overflow-x: hidden;
	background-color: #f2f2f2;
}

.member_id_btn {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

#search {
	margin-top: 10px;
	margin-bottom: 20px;
}

#search input{
	width: 50%;
	height: 25px;
}

#search button {
	height: 25px;
	padding: 0 7px;
	background: #365899;
	border: 1px solid #365899;
	color: #fff;
}

#member_profile_div p {
	float: left;
	margin-bottom: 8px;
}

.profile {
	display: flex;
	padding-left: 10px;
}

.member_id_btn {
	background: none;
}

.m_id {
	font-size: 15px;
	color: #666;
	font-weight: bold;
}

#member_profile_div img {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	border-radius: 100px;
}
















