<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="communityMapper">
	
	<insert id="pageInsert" parameterType="pageDTO">
		<selectKey order="BEFORE" resultType="int" keyProperty="page_num">
			select movie_seq.nextval from dual
		</selectKey>
		 insert into page values(#{page_num}, #{page_name}, #{fileName}, #{oriName}, sysdate, 1, #{owner_id})
	</insert>
	
	<insert id="memberInsert" parameterType="java.util.Map">
		insert into pagemember values(movie_seq.nextval, #{pageDTO.page_num}, #{id}, sysdate,
		<choose>
			<when test="pageDTO.owner_id==id"> 20 </when>
			<otherwise> 11 </otherwise>
		</choose>
		)
	</insert>
	
	<select id="selectPageList" parameterType="String" resultType="pageDTO">
		select P.* from page P, pagemember M where P.PAGE_NUM=M.PAGE_NUM and M.id=#{id}
	</select>
	
	<select id="selectRecommendPage" resultType="pageDTO">
		select * from page order by reg_date desc
	</select>


</mapper>