<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="couponMapper">
  <!-- heeseong -->
  	<select id="couponList" resultType="couponDTO">
  		select * from coupon
  	</select>
  	<!-- heeseong -->
  	<select id="couponInfo" resultType="couponDTO" parameterType="java.lang.String">
  		select * from coupon where name=#{name}
  	</select>
   <!-- heeseong -->
  	<select id="couponSList" resultType="couponDTO" parameterType="Map">
  		select * from coupon 
  		<choose>
  		<when test="kind=='name'">
  			where name like '%'||#{search}||'%'
  		</when>
  		<when test="kind=='rate'">
  			where type = 10 and name like '%'||#{search}||'%'
  		</when>
  		<when test="kind=='price'">
  			where type = 11 and name like '%'||#{search}||'%'
  		</when>
  		</choose>
  	</select>
  	<!-- heeseong -->
  	<insert id="couponInsert" parameterType="couponDTO">
  	 	insert into coupon values(#{name},#{type},#{price},#{v_day})
  	</insert>
  	<!-- heeseong -->
  	<update id="couponRevision" parameterType="couponDTO">
  		update coupon set type=#{type}, price=#{price}, v_day=${v_day}
  	</update>
  	<!-- heeseong -->
  	<select id="couponRevisionInfo" parameterType="java.lang.String" resultType="couponDTO">
  		select * from coupon where name=#{name}
  	</select>
  </mapper>