<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="eventMapper">
  
  <select id="ingSelectList" parameterType="com.cnema.util.RowNum" resultType="EventDTO">
  		select * from
  		(select rownum r, N.* from
  		(select * from event where to_date(e_date, 'YY-MM-DD')>= to_date(sysdate,'YY-MM-DD')
		order by num desc) N)
  		where r between #{startRow} and #{lastRow}
  	</select>
  	
  <select id="endSelectList" parameterType="com.cnema.util.RowNum" resultType="EventDTO">
  		select * from
  		(select rownum r, N.* from
  		(select * from event where to_date(e_date, 'YY-MM-DD') <![CDATA[ < ]]> to_date(sysdate,'YY-MM-DD')
		order by num desc) N)
  		where r between #{startRow} and #{lastRow}
  	</select>
  	
  	<select id="ingTotalCount" parameterType="com.cnema.util.RowNum" resultType="int">
  		select count(num) from event where to_date(e_date, 'YY-MM-DD')>= to_date(sysdate,'YY-MM-DD')
  		
  	</select>
  	
  	<select id="endTotalCount" parameterType="com.cnema.util.RowNum" resultType="int">
  		select count(num) from event where to_date(e_date, 'YY-MM-DD') <![CDATA[ < ]]> to_date(sysdate,'YY-MM-DD')
  		
  	</select>
  
    <insert id="insert" parameterType="com.cnema.board.BoardDTO">
  
  	insert into event
  	values(event_seq.nextval,#{title},#{writer},#{contents},#{fileName},#{oriName},#{s_date},#{e_date},#{type})
  </insert>
 
 <!--View보여줄때 사용  -->
  <select id="selectOne" parameterType="int" resultType="EventDTO">
  		select * from event where num=#{num}
  	</select>
  	
  	<!-- 테이블 고치면 사용함!  -->
  	<update id="hitUpdate" parameterType="int">
  		update event set hit=hit+1 where num=#{num}
  	</update>
  
 	 <delete id="delete" parameterType="int">
  		delete event where num=#{num}
  	</delete>
  	
  	<update id="update" parameterType="com.cnema.board.BoardDTO">
  		update event set
  		title=#{title}, contents=#{contents}, filename=#{fileName},oriname=#{oriName},s_date=#{s_date},e_date=#{e_date},type=#{type}
  		where num=#{num}
  	</update>
  
   </mapper>