<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  	<!-- kim -->
  	<select id="idFind" parameterType="memberDTO" resultType="memberDTO">
		select * from member where name=#{name} and email=#{email}  	
  	</select>
  	
  	<select id="pwFind" parameterType="memberDTO" resultType="memberDTO">
  		select * from member where id=#{id} and name=#{name} and email=#{email}
  	</select>
  	
  	<insert id="join" parameterType="memberDTO">
  		insert into member values(#{id},#{pw},#{name},#{birth},#{gender},#{phone},#{email},#{postCode},#{addr1},#{addr2},10,1000,1000,sysdate,#{fileName},#{oriName})
  	</insert>
  	
  	<select id="login" parameterType="memberDTO" resultType="memberDTO">
  		select * from member where id=#{id} and pw=#{pw}
  	</select>
  	
  	<!-- heeseong -->
  	<select id="memberInfo" resultType="memberDTO" parameterType="java.lang.String">
  		select * from member where id=#{id}
  	</select>
  	<!-- heeseong -->
  	<select id="memberList" resultType="memberDTO">
  		select * from member
  	</select>
  	<!-- heeseong -->
  	<delete id="withdrawal" parameterType="String">
  		delete from member where id=#{id}
  	</delete>
  	<!-- heeseong -->
  	<update id="myInfoRevision" parameterType="memberDTO">
  		update member set phone=#{phone},email=#{email},postCode=#{postCode},addr1=#{addr1},addr2=#{addr2} where id=#{id}
  	</update>
  	
  </mapper>