<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="myCouponMapper">
  <!-- heeseong -->
  <select id="myCouponList" resultType="myCouponDTO" parameterType="java.lang.String">
  	select * from myCoupon where id=#{id} and type=#{type}
  </select>
  
  <!-- heeseong -->
  <select id="myCouponDList" resultType="myCouponDTO" parameterType="java.util.Map">
  	select * from myCoupon where id=#{id} and type=12 and use_date <![CDATA[<=]]> #{dp2} and use_date <![CDATA[>=]]> #{dp1}
  </select>
  
  <!-- heeseong -->
  <update id="dateUpdate" parameterType="java.lang.String">
  	update MYCOUPON set type=12 where v_date &lt; sysdate and id=#{id}
  </update>
  
  <!-- heeseong -->
  <select id="myCouponAList" resultType="myCouponDTO" parameterType="java.lang.String">
  	select * from myCoupon where id=#{id} 
  </select>
  
  <!-- heeseong -->
  <insert id="couponInsert" parameterType="hashMap">
  	insert into myCoupon values(movie_seq.nextval,#{memberDTO.name},#{memberDTO.id},#{couponDTO.v_day},sysdate,0,11);
  </insert>
  </mapper>