<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="myCouponMapper">
  
  <select id="myCouponList" parameterType="String" resultType="myCouponDTO">
  	select * from mycoupon where id=#{id} and type=11
  </select>
  
  <update id="qrCouponUpdate" parameterType="java.util.Map">
  	update mycoupon set type=10, use_date=sysdate where c_num=#{c_num} and id=#{id}
  </update>
  <!-- heeseong -->
  <select id="hTotalCount" parameterType="java.util.Map" resultType="int">
  		select count(num) from mycoupon where id=#{id} and type=#{type}
  </select>
  <!-- heeseong -->
  <select id="myCouponHistoryList" resultType="myCouponDTO" parameterType="java.util.Map">
	select * from (
	select rownum R, N.* from  		
	(select * from myCoupon where id=#{id} and type=#{type} order by v_date asc) N)
	where R BETWEEN #{rowNum.startRow} and #{rowNum.lastRow}
  	<!-- select * from myCoupon where id=#{id} and type=#{type} order by v_date asc -->
  </select>
   <!-- heeseong -->
  <select id="dTotalCount" parameterType="java.util.Map" resultType="int">
  		select count(num) from mycoupon where id=#{id} and type=10 and use_date <![CDATA[<=]]> #{dp2} and use_date <![CDATA[>=]]> #{dp1}
  </select>
  <!-- heeseong -->
  <select id="myCouponDList" resultType="myCouponDTO" parameterType="java.util.Map">
 	 select * from (
	select rownum R, N.* from  		
	(select * from myCoupon where id=#{id} and type=10 and use_date <![CDATA[<=]]> #{dp2} and use_date <![CDATA[>=]]> #{dp1}) N)
	where R BETWEEN #{rowNum.startRow} and #{rowNum.lastRow}
  	<!-- select * from myCoupon where id=#{id} and type=10 and use_date <![CDATA[<=]]> #{dp2} and use_date <![CDATA[>=]]> #{dp1} -->
  </select>
  
  <!-- heeseong -->
  <update id="dateUpdate" parameterType="java.lang.String">
  	update MYCOUPON set type=12 where v_date <![CDATA[<]]> sysdate and id=#{id} and type=11
  </update>
  
  <!-- heeseong -->
  <select id="myCouponAList" resultType="myCouponDTO" parameterType="java.lang.String">
  	select * from myCoupon where id=#{id} and type=10 
  </select>
  
  <!-- heeseong -->
  <select id="couponCount" resultType="int" parameterType="java.lang.String">
  	select count(id) from myCoupon where id=#{id} 
  </select>
  
  <!-- heeseong -->
  <select id="couponACount" resultType="int" parameterType="java.lang.String">
  	select count(id) from myCoupon where id=#{id} and type=11
  </select>
  
  <!-- heeseong -->
  <insert id="couponInsert" parameterType="java.util.Map">
  	insert into myCoupon (num,name,id,v_date,publish_date,type,c_num) values(movie_seq.nextval,#{couponDTO.name},#{id},to_date(#{v_date},'YYYY/mm/DD'),sysdate,11,#{couponDTO.c_num})
  </insert>
  
  <!-- heeseong -->
  <delete id="withdrawal" parameterType="string">
  	delete from myCoupon where id=#{id}
  </delete>
  </mapper>