<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pageContentsMapper">

	<insert id="contentsInsert" parameterType="java.util.Map">
		insert into pagecontents values(movie_seq.nextval, #{page_num}, #{id}, #{pageContentsDTO.contents},
			sysdate, #{pageContentsDTO.fileName}, #{pageContentsDTO.oriName}, 0, 0, 0, 0, 0)
	</insert>


</mapper>