<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pointMapper">
	<!-- 희성 -->
	<select id="pointList" resultType="pointDTO">
		select * from point where id=#{id} and use_day <![CDATA[>=]]> #{datepicker1} and use_day <![CDATA[<=]]> #{datepicker2}
	</select>
	<!-- 희성 -->
	<select id="pointAList" resultType="pointDTO">
		select * from point where id=#{id}
	</select>
  </mapper>