<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="scheduleMapper">
  
  
   	<select id="screenList" resultType="screenDTO" parameterType="int">
   		select * from screen where theater_num =#{theater_num}
  	</select>
  
  	<select id="scheduleList" resultType="scheduleDTO" parameterType="java.util.Map">
  		select * from schedule where to_char(day,'YY-MM-DD') = to_char(#{day_num},'YY-MM-DD') and screen_num=#{screen_num}
  	</select>
  
  	<!-- heeseong -->
  	<select id="scheduleInfo" resultType="scheduleDTO" parameterType="int">
  		select * from schedule where schedule_num=#{sNum}
  	</select>
  </mapper>