<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="scheduleMapper">
  	<!-- heeseong -->
  	<select id="scheduleInfo" resultType="scheduleDTO" parameterType="int">
  		select * from schedule where schedule_num=#{sNum}
  	</select>
  </mapper>