<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="scheduleMapper">
  
  	<select id="movieNumList" parameterType="java.util.Map" resultType="int">
  		select DISTINCT movie_num from schedule where to_char(day,'YYYY-MM-DD') = #{day} and theater_num=#{theater_num} order by movie_num desc
  	</select>
  
   	<select id="screenList" resultType="screenDTO" parameterType="int">
   		select * from screen where theater_num =#{theater_num}
  	</select>
  
  	<resultMap type="scheduleDTO" id="scheduleTime">
  		<id property="schedule_num" column="schedule_num"/>
  		<result property="screen_num" column="screen_num"/>
  		<result property="movie_num" column="movie_num"/>
  		<result property="in_time" column="inn" />
  		<result property="out_time" column="outt" />
  		<result property="day" column="day"/>
  		
  	</resultMap>
  	
  	<select id="scheduleList" resultMap="scheduleTime" parameterType="java.util.Map">
  		select S.*, to_char(in_time,'HH24:MI') inn, to_char(out_time,'HH24:MI') outt from schedule S where to_char(day,'YY-MM-DD') = to_char(#{day_num},'YY-MM-DD') and screen_num=#{screen_num} and movie_num=#{movie_num}
  	</select>
  	
  	<select id="movieSchedule" resultMap="scheduleTime" parameterType="java.util.Map">
  		select S.*, to_char(in_time,'HH24:MI') inn, to_char(out_time,'HH24:MI') outt from schedule S where to_char(day,'YYYY-MM-DD') = #{day} and theater_num=#{theater_num} and movie_num=#{movie_num}
  	</select>
  	
  	<!-- <select id="scheduleList" resultType="scheduleDTO" parameterType="java.util.Map">
  		select * from schedule where to_char(day,'YY-MM-DD') = to_char(#{day_num},'YY-MM-DD') and screen_num=#{screen_num} and movie_num=#{movie_num}
  	</select> -->  
  
  	<select id="scheduleOne" resultType="scheduleDTO"  parameterType="int">
  		select * from schedule where schedule_num=#{schedule_num}
  	</select>
  
  	<select id="screenOne" resultType="screenDTO" parameterType="int">
  		select * from screen where screen_num=#{screen_num}
  	</select>
  
  	<!-- heeseong -->
  	<select id="scheduleInfo" resultType="scheduleDTO" parameterType="int">
  		select * from schedule where schedule_num=#{sNum}
  	</select>
  	
  	<!-- heeseong -->
  	<delete id="scheduleInsert" parameterType="scheduleDTO">
  		insert into schedule values(movie_seq.nextval,#{screen_num},#{movie_num},#{in_time},#{out_time},#{day})
  	</delete>
  	
  	<!-- heeseong -->
  	<select id="scheduleAList" resultType="scheduleDTO">
  		select * from schedule
  	</select>
  	
  	<!-- heeseong -->
  	<update id="scheduleRevision" parameterType="scheduleDTO">
  		update schedule set screen_num=#{screen_num},movie_num=#{movie_num},in_time=#{in_time},out_time=#{out_time},day=#{day} where schedule_num=#{schedule_num}
  	</update>
  	
  	<!-- heeseong -->
  	<delete id="scheduleRemove" parameterType="int">
  		delete schedule where schedule_num=#{schedule_num}
  	</delete>
  	
  </mapper>