<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="theaterMapper">

  	<select id="selectOne" parameterType="int" resultType="theaterDTO">
  		select * from theater where theater_num=#{theater_num}
  	</select>
  	
  	<select id="locationList" parameterType="String" resultType="theaterDTO">
  		select * from theater where area=#{area}
  	</select>
  	
  	<select id="areaList" resultType="theaterDTO">
  		select DISTINCT area from theater
  	</select>
  	
  	<select id="qrAreaList" resultType="theaterDTO">
		select DISTINCT area from theater where area != '서울'
  	</select>  
  	
  	
  	
  		
  	
  	
  	<!-- heeseong -->
  	<!-- <select id="theatherAList" resultType="theaterDTO">
  		select * from theater
  	</select> -->
  	
  	<!-- heeseong -->
  	<!-- <select id="thLocationList" resultType="theaterDTO" parameterType="String">
  		select * from theater where location=#{search}
  	</select> -->
  	<!-- heeseong -->
  	<select id="totalCount" parameterType="java.util.Map" resultType="int">
  		select count(nvl(null,0)) from theater
  		<choose>
  			<when test="kind=='area'">
  				where area like '%'||#{search}||'%'
  			</when>
  			<when test="kind=='location'">
  				where location like '%'||#{search}||'%'
  			</when>
  			<otherwise>
  			</otherwise>
  		</choose>
  	</select>
  	<!-- heeseong -->
  	<select id="theaterList" resultType="theaterDTO" parameterType="java.util.Map">
	  	select * from (
		select rownum R, N.* from  		
		(select * from theater
		  	<choose>
		  		<when test="kind=='area'">
		  			where area like '%'||#{search}||'%'
		  		</when>
		  		<when test="kind=='location'">
		  			where location like '%'||#{search}||'%'
		  		</when>
		  		<otherwise>
		  		</otherwise>
		 	</choose>) N)
		where R BETWEEN #{rowNum.startRow} and #{rowNum.lastRow}
  	</select>


  	
  	<!-- heeseong -->
  	<select id="theaterInfo" parameterType="int" resultType="theaterDTO">
  		select * from theater where theater_num=#{theater_num}
  	</select>
  	
  	<!-- heeseong -->
  	<update id="theaterRevision" parameterType="theaterDTO">
  		update theater set area=#{area}, location=#{location}, x_position=#{x_position}, y_position=#{y_position} where theater_num=#{theater_num}
  	</update>
  	
  	<!-- heeseong -->
  	<delete id="theaterRemove" parameterType="int">
  		delete from theater where theater_num=#{theater_num}
  	</delete>
  	
  	<!-- heeseong -->
  	<insert id="theaterInsert" parameterType="theaterDTO">
  		insert into theater values(movie_seq.nextval,#{area},#{location},#{x_position},#{y_position})
  	</insert>
  	
  </mapper>