<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="theaterMapper">
  
	<select id="dayList" resultType="dayDTO">
  		select * from day where to_char(day_num,'YY/MM') = to_char(sysdate,'YY/MM') order by day_num asc
  	</select>
  
  	<select id="selectOne" parameterType="int" resultType="theaterDTO">
  		select * from theater where theater_num=#{theater_num}
  	</select>
  	
  	<select id="locationList" parameterType="String" resultType="theaterDTO">
  		select * from theater where area=#{area}
  	</select>
  	
  </mapper>