<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ticketPriceMapper">
  	<select id="nextval" resultType="int">
  		select movie_seq.nextval from dual
  	</select>
  
  	<insert id="tpInsert" parameterType="ticketPriceDTO">
  		insert into ticketprice values(${tp_num},#{people},#{adult_num},#{teen_num},#{total_price},#{c_num},#{point},#{price},#{code},sysdate,#{id})
  	</insert>
  	
  	 <!-- heeseong -->
  	<select id="ticketPInfo" resultType="ticketPriceDTO" parameterType="int">
  		select * from ticketprice where tp_num=#{tp_num}
  	</select>
  	<!-- heeseong -->
  	
  	<delete  id="ticketRemove" parameterType="int">
  		delete from ticketprice where tp_num=#{tp_num}
  	</delete>
  </mapper>