<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="wishMapper">
  
  	<!-- heeseong -->
  	<select id="wishList" resultType="wishDTO" parameterType="map">
  		<choose>
  			<when test="kind == 'reg_date'">select * from wish  where id=#{id}</when>
  			<when test="kind == 'open_date'">select W.* from wish W, movie M where W.id=#{id} and W.movie_num=M.movie_num order by M.open_date desc</when>
  			<otherwise>select * from wish  where id=#{id}</otherwise>
  		</choose>
  	</select>
  	
  	<!-- heeseong -->
  	<delete id="wishListDelete" parameterType="int">
  		delete from wish where wish_num=#{wish_num}
  	</delete>
  </mapper>