<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="wishMapper">
  	<!-- heeseong -->
  	<select id="wishList" resultType="wishDTO" parameterType="java.lang.String">
  		select * from wish where id=#{id}
  	</select>
  	<!-- heeseong -->
  	<delete id="wishListDelete" parameterType="int">
  		delete from wish where wish_num=#{wish_num}
  	</delete>
  </mapper>