<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.cnema.member.MemberDTO" alias="memberDTO"/>
  		<typeAlias type="com.cnema.member.PointDTO" alias="pointDTO"/>
  		<typeAlias type="com.cnema.coupon.MyCouponDTO" alias="myCouponDTO"/>
  		<typeAlias type="com.cnema.movie.MovieDTO" alias="movieDTO"/>
  		<typeAlias type="com.cnema.movie.WishDTO" alias="wishDTO"/>
  		<typeAlias type="com.cnema.reserve.ReserveDTO" alias="reserveDTO"/>
  		<typeAlias type="com.cnema.theater.TheaterDTO" alias="theaterDTO"/>
  		<typeAlias type="com.cnema.theater.ScheduleDTO" alias="scheduleDTO"/>
  		<typeAlias type="com.cnema.reserve.TicketPriceDTO" alias="ticketPriceDTO"/>
  		<typeAlias type="com.cnema.theater.DayDTO" alias="dayDTO"/>
  		<typeAlias type="com.cnema.coupon.MyCouponDTO" alias="myCouponDTO"/>
  		<typeAlias type="com.cnema.notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.cnema.qna.QnaDTO" alias="QnaDTO"/>
  		<typeAlias type="com.cnema.theater.ScreenDTO" alias="screenDTO"/>
  	</typeAliases>
  </configuration>